/* Header */
.skin-blue .main-header {
  background-color: #2E8B57;
}
.skin-blue .main-header .logo {
  background-color: #2E8B57;
  color: white;
  font-weight: bold;
}

/* logo when hovered */
  .skin-blue .main-header .logo:hover {
    background-color: #2E8B57;
  }
  
/* navbar (rest of the header) */
  .skin-blue .main-header .navbar {
    background-color: #2E8B57;
  }    
  
/* Sidebar */
.skin-blue .main-sidebar {
  background-color: #F0F7F4;
}

/* Sidebar text and hover */
.skin-blue .main-sidebar .sidebar .sidebar-menu a {
  color: #2E8B57;
}
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
  background: #D1E7DD;
  color: #1B5E20;
}

/* toggle button when hovered  */                    
  .skin-blue .main-header .navbar .sidebar-toggle:hover{
    background-color: #D1E7DD;
  }
