body {
  font-family: Verdana;
}


/* logo */
        .skin-blue .main-header .logo {
                              background-color: #556B2F;
                              }

        /* logo when hovered */
        .skin-blue .main-header .logo:hover {
                              background-color: #6E8B3D;
                              }

        /* navbar (rest of the header) */
        .skin-blue .main-header .navbar {
                              background-color: #556B2F;
                              }        

        /* main sidebar */
        .skin-blue .main-sidebar {
                              background-color: #B8860B;
                              }

        /* active selected tab in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
                              background-color: #8B6508;
                              }

        /* other links in the sidebarmenu */
        .skin-blue .main-sidebar .sidebar .sidebar-menu a{
                              background-color: #B8860B;
                              color: #000000;
                              }

        /* other links in the sidebarmenu when hovered */
         .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
                              background-color: #8B6508;
                              }
        /* toggle button when hovered  */                    
         .skin-blue .main-header .navbar .sidebar-toggle:hover{
                              background-color: #6E8B3D;
                              }